<h1>PROFILE</h1>

<nav>
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a class="active" href="/profile">My Profile</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</nav>


<h2> 
Name: <%= current_user.fname %> <%= current_user.lname %> 
<br>
Location: <%= current_user.location %> 
<br>
Age: <%= current_user.age %> 
</h2>

<<<<<<< HEAD

=======
>>>>>>> 47710b87d8789cf8f42b7add21802dd0758d45b7
<% @posts.each do |x| %>
<h2><%= x.title %></h2>
<p><%= x.body %></p>
<br>
<% end %>

<br>
<a href="/profileupdate">Update Your Profile Here</a>
<br>
<a href="/delete-account">Delete Your Account Here</a>