<head>
	<title><%= @user.username %>'s Account Info</title>
</head>

<h1> <%= @user.username %> </h1>

<p>Name: <%= @user.fname %> <%= @user.lname %></p>
<p>Location: <%= @user.location %></p>
<p>Age: <%= @user.age %> </p>
